html,

body {
  background-image: url(./images/Back.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  position: relative;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container-daycare-gallery-title h1 {
  color: rgb(78, 78, 78);
  /* TODO */
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.container-daycare-gallery {
  padding: 110px 0;
  display: block;
}

.gallery-item {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  cursor: pointer;
}

.item-1 {
  background-image: url(./images/guarderia-galeria-lc-1.jpg);
}
.item-2 {
  background-image: url(./images/guarderia-galeria-lc-3.jpg);
}

.item-3 {
  background-image: url(./images/guarderia-galeria-lc-2.jpg);
}

/** POPUP **/

.daycare-gallery-popup{
	display: none;
}

button.close-gallery {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  /* TODO */
  border: none;
  font-size: 2em;
  font-weight: 300;
  color: white;
  padding: 10px;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transform: scaleY(0.9);
}

.daycare-gallery-popup .gallery-item {
  background-position: center;
  /* TODO */
  border-radius: 20px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
